* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-Table {
    background-color: rgb(227, 227, 227);
    height: 100vh;
}

.dataTable {
    padding: 30px;
    position: relative;
    bottom: 40px;
    left: 7px;
    width: 92vw;
    background-color: white;
    border-radius: 10px;
    height: 80vh;
}

.searchTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sort {
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
}

.sort::placeholder {
    font-size: 20px;
    color: rgb(192, 181, 181);
}

.status-btn {
    width: 80px;
    border: 2px solid #0c4d97;
    background-color: white;
    padding: 2px;
    border-radius: 20px;
    color: #0c4d97;
    margin-left: 5px;
    outline: none;
}

.status-btn-active {
    background-color: #0c4d97;
    color: white;
    width: 80px;
    border: 2px solid #0c4d97;
    padding: 2px;
    border-radius: 20px;
    margin-left: 5px;
    outline: none;
}